 html, body {height: 100%;
        	 margin: 0px;}

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  background: url(backy.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

h1 {background-color: black;
	color: white}

header hr {
  margin-top: 300px;
  margin-bottom: 30px; 
}


.mc_embed_signup {display:flex;
justify-content: center;}

.btn {
	padding: 1em;
	background-color: orange;
	border-color:black;
  font-weight: 700;
  text-transform: uppercase;

  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
	background-color: red
}

